
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.bg-1{
  background: #7000FF;
}
.hov-1:hover{
  color:#000;
  text-decoration: underline;
}